{% extends 'base.html.twig' %}

{% block title %}Hello CandidatsController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% for job in liste %}
         <a href={{"/candidats/offer/"~job.id}}>
             <h1>Company</h1>
             <li>{{ job.description }}</li>
            <li>{{ job.requirement }}</li>
             <li>{{ job.typeContract }}</li>
             <li>{{ job.posted.format('d/m/Y')}}</li>
         </a>

        {% endfor %}
    </div>
{% endblock %}
